push constant 3
neg
push constant 5
push constant 6
add
add
push constant 4
push constant 3
add
sub


































































































































































































































































































